<template>
    <v-app>
        <Drawer v-model="drawer" class="drawer">
            <template v-if="getIsLoggedIn">
                <v-btn
                    v-for="item in menuItems.logged"
                    :key="item.label"
                    class="mb-4 drawer-btn drawer-btn--logged"
                    block
                    @click="item.action"
                >
                    {{ item.label }}
                </v-btn>
            </template>

            <template v-else>
                <v-btn
                    v-for="item in menuItems.nonLogged"
                    :key="item.label"
                    class="mb-4 drawer-btn drawer-btn--not-logged"
                    block
                    @click="item.action"
                >
                    {{ item.label }}
                </v-btn>
            </template>
        </Drawer>
        <Header @click="drawer = !drawer" />
        <v-main>
            <router-view />
        </v-main>
    </v-app>
</template>

<script src="./MainLayout.js"></script>
<style src="./MainLayout.scss" lang="scss" scoped></style>
