<template>
    <div class="chat-room">
        <div class="chat-body">
            <AppDefaultMessage
                v-for="(messageObj, key) in getMessages"
                :key="key"
                :message="messageObj.message"
                :is-owner="checkIsUserOwner(messageObj.userId)"
            />
            <AppAdminMessage
                v-for="(message, key) in getAdminMessages"
                :key="message + key"
                :message="message"
            />
            <div />
        </div>
        <ChatForm class="chat-form" />
    </div>
</template>

<script src="./ChatRoom.js"></script>
<style src="./ChatRoom.scss" lang="scss" scoped></style>
