.chat-room {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.chat-form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    height: 80px;
    background: #212121;
}

.chat-body {
    padding: 16px 16px 80px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
