<template>
    <v-card class="auth-form mx-auto pa-6 mt-6" max-width="500">
        <v-text-field
            v-model="user.email"
            :rules="[checkIsRequired]"
            label="Please enter your email"
            data-username
        />

        <v-text-field
            v-model="user.password"
            type="password"
            :rules="[checkIsRequired]"
            label="Please enter password"
            data-password
        />

        <v-card-actions>
            <v-spacer />
            <v-btn
                class="auth-form__btn"
                color="blue darken-1"
                text
                @click="submitClick"
            >
                {{ submitText }}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script src="./AuthForm.js"></script>
