<template>
    <div class="default-message" :class="{'default-message--owner': isOwner}">
        <span class="default-message__name caption">{{ userName }}</span>
        <p class="default-message__elem">
            {{ message }}
        </p>
    </div>
</template>

<script src="./AppDefaultMessage.js"></script>
<style src="./AppDefaultMessage.scss" lang="scss" scoped></style>
