.default-message {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 60%;
    margin: 0 16px 16px;
    box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.3);
    border-radius: 4px;
    background: #1976d2;
    position: relative;

    &__elem {
        margin-bottom: 0;
    }

    &--owner {
        background: #fff;
        color: #000;
        align-self: flex-end;
    }
}
