<template>
    <div>
        <RoomTable
            v-if="getRooms"
            class="ma-6"
            :rooms="getRooms"
            :headers="headers"
        />
        <router-view />
    </div>
</template>

<script src="./Home.js"></script>
<style src="./Home.scss" lang="scss" scoped></style>
