<template>
    <v-app>
        <Drawer v-model="drawer">
            <v-list subheader>
                <v-subheader>Person in chat</v-subheader>
                <v-list-item-group>
                    <v-list-item
                        v-for="(member, key) in getRoomMembers"
                        :key="key"
                    >
                        <v-list-item-content>
                            <v-list-item-title v-text="member.userEmail" />
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title class="leave-chat" @click="leaveFromChat" v-text="'Leave chat'" />
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </Drawer>
        <Header @click="toggleDrawer">
            <v-btn class="exit-chat" icon @click="exitChat">
                <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
        </Header>
        <v-main>
            <router-view />
        </v-main>
    </v-app>
</template>

<script src="./ChatLayout.js"></script>
