<template>
    <v-text-field
        ref="chat-form"
        v-model="message"
        label="Please enter your message"
        outlined
        @keydown.enter="sendMessage"
    >
        {{ message }}
    </v-text-field>
</template>

<script src="./ChatForm.js"></script>
