<template>
    <div class="admin-message">
        <p class="text-center admin-message__elem">
            {{ message }}
        </p>
        <hr>
    </div>
</template>

<script src="./AppAdminMessage.js"></script>
<style src="./AppAdminMessage.scss" lang="scss" scoped></style>
