<template>
    <v-dialog
        v-model="dialog"
        persistent
        width="500"
        class="create-room"
    >
        <v-card class="pa-6">
            <div>
                <v-text-field
                    v-model="roomData.roomName"
                    :rules="[checkIsRequired]"
                    label="Please enter room name"
                >
                    {{ roomData.roomName }}
                </v-text-field>

                <v-text-field
                    v-model="roomData.roomDescription"
                    :rules="[checkIsRequired]"
                    label="Please enter room description"
                >
                    {{ roomData.roomDescription }}
                </v-text-field>
            </div>

            <v-card-actions>
                <v-spacer />
                <v-btn
                    color="blue darken-1"
                    text
                    @click="createRoom"
                >
                    Create a room
                </v-btn>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="closeDialog"
                >
                    Close
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script src="./CreateRoom.js"></script>
