<template>
    <v-navigation-drawer
        v-model="drawer"
        class="drawer pa-4"
        app
    >
        <slot />
    </v-navigation-drawer>
</template>

<script src="./Drawer.js"></script>
