<template>
    <v-data-table
        dense
        :headers="headers"
        :items="rooms"
        item-key="name"
    >
        <template #item.roomName="{ item }">
            <v-btn text :to="{ name: ChatRoomRoute.name, params: { id: item.id } }">
                {{ item.roomName }}
            </v-btn>
        </template>
    </v-data-table>
</template>

<script src="./RoomTable.js"></script>
