<template>
    <v-app-bar app>
        <v-app-bar-nav-icon @click="toggleDrawer" />
        <slot />
        <v-toolbar-title>{{ headerLabel }}</v-toolbar-title>
    </v-app-bar>
</template>

<script src="./Header.js"></script>
