<template>
    <router-view />
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'App',
    async created () {
        await this.fetchCurrentUser();
    },
    methods: {
        ...mapActions([
            'fetchCurrentUser',
        ]),
    },
};
</script>
